---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- Left Sidebar -->
  <div class="sidebar left-sidebar"
       style="background-image: url('{{ page.sidebar_image | default: "/assets/img/default.JPG" }}');">
  </div>

  <!-- Main Content -->
  <div class="content">
    {{ content }} <!-- This is where the content from your page will go -->
  </div>

  <!-- Right Sidebar -->
  <div class="sidebar right-sidebar"
       style="background-image: url('{{ page.sidebar_image | default: "/assets/img/default.JPG" }}');">
  </div>


  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
